h1 {Color: Black; margin: black;  
    backgroud-color: black;

} 

tbody{
  background-color:black;  
  color:black;
  display: contents;
} 


#Board{
  height: 50vh;
  display: grid; 
  grid-template-rows: repeat(3,2fr);
  background-color: black
}

table{
  Background-color: White;
  display:contents 
tr{
  Display:contents }